#! /bin/sh -e

[ -x /sbin/modprobe ] || exit 0

. /usr/share/debconf/confmodule
db_version 2.0

# sch_sfq and sch_prio are needed as of this version.
if dpkg --compare-versions "$2" lt-nl 2.2.12-0.6.2-1; then
    # Only re-ask the question if it hasn't been asked in the process of
    # upgrading to a recent version.
    db_fget shaper/kernel-modules seen_in_07_upgrade
    if [ "$RET" = false ]; then
	db_fset shaper/kernel-modules seen false
    fi
fi

missing=
for module in shaper sch_cbq sch_tbf sch_sfq sch_prio \
	      cls_fw cls_u32 cls_route; do
    if ! modprobe -l | fgrep $module >/dev/null 2>&1; then
	if [ -z "$missing" ]; then
	    missing=$module
	else
	    missing="$missing, $module"
	fi
    fi
done

if [ "$missing" ]; then
    db_subst shaper/kernel-modules missing "$missing"
    db_input medium shaper/kernel-modules || true
    db_go
    db_fset shaper/kernel-modules seen_in_07_upgrade true
fi

exit 0
