#! /bin/sh
#
# Copyright 2000,2001,2002 by Dennis Schoen <dennis@cobolt.net>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public
# License along with this program; if not, write to the Free
# Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA  02111-1307  USA.

set -e

# Source debconf library
. /usr/share/debconf/confmodule

if [ -e /etc/ntop/init.cfg ] && [ ! -e /var/lib/ntop/init.cfg ]; then
    cp -a /etc/ntop/init.cfg /etc/ntop/init.cfg.dpkg-old || true
    mv /etc/ntop/init.cfg /var/lib/ntop/init.cfg || true
fi

if [ -e /var/lib/ntop/init.cfg ]; then
    # Read current state from configuration file
    . /var/lib/ntop/init.cfg || true
    db_set ntop/user "$USER"
    db_set ntop/interfaces "$INTERFACES"
fi

if [ -z "$INTERFACES" ]; then
    db_input high ntop/interfaces || true
else
    db_input medium ntop/interfaces || true
fi

db_input low ntop/user || true

set_password() {
    while true; do
        db_input high ntop/admin_password || debconfret=$?
        if [ -n "$debconfret" ] && [ "$debconfret" -eq 30 ]; then
            # question will not be displayed
            # ask other questions in the queue and terminate
            db_go
            break
        fi
        db_input high ntop/admin_password_again || true
        db_go

        db_get ntop/admin_password

        if [ -z "$RET" ]; then
            db_input high ntop/password_empty
            db_fset ntop/admin_password seen false
            db_fset ntop/admin_password_again seen false
        else
            curpass=$RET
            db_get ntop/admin_password_again
            againpass=$RET
            if [ "$curpass" = "$againpass" ]; then
                break
            else
                db_input high ntop/password_mismatch
            fi
        fi
    done
}

if ! [ -f /var/lib/ntop/ntop_pw.db ]; then
    set_password
else
    db_input low ntop/password_reset || true
    db_go
    db_get ntop/password_reset
    if [ "true" = "$RET" ]; then
        set_password
    else
        db_go
    fi
fi
